 body {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.container {
	background-image: url('../img/cover.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-column-gap: 30px;
	grid-row-gap: 150px;
	padding: 200px;
}


.card {
	display: grid;
	justify-items: center;
	position: relative;
}
.card-top {
	width: 200px;
	height: 200px;
	background-color: rgba(255, 255, 255, .85);
	position: absolute;
	top: -120px;
	clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
	display: grid;
	justify-content: center;
	align-items: center;
}
.fas {
	color: red;
	font-size: 50px;
}
.card-body {
	background-color: rgba(255, 255, 255, .85);
	padding: 80px 30px 70px;
	text-align: center;
	clip-path: polygon(0 0, 20% 0, 50% 28%, 80% 0, 100% 0, 100% 100%, 0 100%);
}
.card-heading {
	color: red;
	margin-top: 70px;
	text-transform: uppercase;
}
.card-text {
	margin-bottom: 30px;
}
.btn {
	color: red;
	text-decoration: none;
	border-bottom: 2px solid red;
	padding: 5px 10px;
	font-size: 18px;
	transition: all .3s;
}
.btn:hover {
	background-color: red;
	color: #fff;
}

@media screen and (max-width: 768px) {
	.container {
		padding: 100px 5px;
	}
	.card-body {
		clip-path: polygon(0 0, 20% 0, 50% 25%, 80% 0, 100% 0, 100% 100%, 0 100%);
	}
}
