<header id="fh5co-header-section">
<div class="container">
<div class="nav-header">
    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
    <h1 id="fh5co-logo"><a href="index.html">Waterfront Resort</a></h1>
    <nav id="fh5co-menu-wrap" role="navigation">
        <ul class="sf-menu" id="fh5co-primary-menu">
            <li><a href="{%url 'home' %}">Home</a></li>
            <li>
                <a href="{%url 'hotel' %}" class="fh5co-sub-ddown">Hotel Facilites</a>

            </li>
           <li><a href="{%url 'services' %}">Services</a></li>
            <li><a href="{%url 'blog' %}">Blog</a></li>

            {% if request.user.is_authenticated %}
                <li><a href="#">Hello, {{request.user}}</a></li>
                <li><a  href="{% url 'logout' %}">Logout</a></li>
                <li><a  href="{% url 'mybooking' %}">My Bookings</a></li>

            {% endif %}
            {% if request.user.is_anonymous %}
            <li><a href="{%url 'register' %}">Register</a></li>
            <li><a href="{%url 'login' %}">Login</a></li>
            {% endif %}


        </ul>
    </nav>
</div>
</div>
</header>
