{% extends "base2.html" %}
{% block content %}

<div class="row">
    {%for ro in ro %}

    {% if ro.Availible %}
    <div class='room col-md-6 mb-4'>
      <div class="card">
        <a href="book/{{ro.Roomcode}}"><img src="{{ro.img.url}}" class="card-img-top" alt="..."></a>
        <div class="card-body">
            <div class="card-title">
              <h4>Room Type code: {{ro.Roomtypecode}}</h4>
            </div>
            <p class="card-text">Room code: {{ro.Roomcode}}</p>
            <p class="card-text">Room type: {{ro.typename}}</p>
            <p class="card-text">Capacity: {{ro.capacity}}</p>
            <a class="btn btn-primary" href="book/{{ro.Roomcode}}">Book</a>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
