{% extends 'base.html' %}
{%load static %}
{%block content %}
	<div id="fh5co-wrapper">
	<div id="fh5co-page">
	<div id="fh5co-header">
{% include 'navbar.html' %}
	</div>
<body>
	<div id="fh5co-wrapper">
	<div id="fh5co-page">
	<div id="fh5co-header">
		<header id="fh5co-header-section">
			<div class="container">
				<div class="nav-header">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
					<h1 id="fh5co-logo"><a href="index.html">Water Front Resort</a></h1>
					<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
							<li><a href="index.html">Home</a></li>
							<li>
								<a href="hotel.html" class="fh5co-sub-ddown">Hotel Facilities</a>

							</li>
							<li><a class="active" href="services.html">Services</a></li>
							<li><a href="blog.html">Blog</a></li>
							<li><a href="contact.html">About Us</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>

	</div>
	<!-- end:fh5co-header -->
	<div class="fh5co-parallax" style="background-image: url(images/para.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
					<div class="fh5co-intro fh5co-table-cell">
						<h1 class="text-center">Read Our Blog</h1>
						<p>Made with love by the fine folks</p>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div id="fh5co-blog-section">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="blog-grid" style="background-image: url(images/lux.jpg);">
						<div class="date text-center">
							<span>09</span>
							<small>Aug</small>
						</div>
					</div>
					<div class="desc">
						<h3><a href="#">Most Luxurious  Hotel</a></h3>
					</div>
				</div>
				<div class="col-md-4">
					<div class="blog-grid" style="background-image: url(images/ann.jpg);">
						<div class="date text-center">
							<span>12</span>
							<small>Apr</small>
						</div>
					</div>
					<div class="desc">
						<h3><a href="#">1st Anniversary </a></h3>
					</div>
				</div>
				<div class="col-md-4">
					<div class="blog-grid" style="background-image: url(images/adv.jpg);">
						<div class="date text-center">
							<span>24</span>
							<small>Mar</small>
						</div>
					</div>
					<div class="desc">
						<h3><a href="#">Discover New Adventure</a></h3>
					</div>
				</div>
				<div class="col-md-4">
					<div class="blog-grid" style="background-image: url(images/safety.jpg);">
						<div class="date text-center">
							<span>30</span>
							<small>Dec</small>
						</div>
					</div>
					<div class="desc">
						<h3><a href="#">5/5 Safety Rated</a></h3>
					</div>
				</div>
				<div class="col-md-4">
					<div class="blog-grid" style="background-image: url(images/ann2.jpg);">
						<div class="date text-center">
							<span>01</span>
							<small>Jan</small>
						</div>
					</div>
					<div class="desc">
						<h3><a href="#">2nd Anniversary </a></h3>
					</div>
				</div>
				<div class="col-md-4">
					<div class="blog-grid" style="background-image: url(images/ami.jpg);">
						<div class="date text-center">
							<span>14</span>
							<small>Jun</small>
						</div>
					</div>
					<div class="desc">
						<h3><a href="#">Great Aminities</a></h3>
					</div>
				</div>
			</div>
		</div>
	</div>
{%endblock%}
