
{% extends 'base.html' %}
{%load static %}
{%block content %}
	<div id="fh5co-wrapper">
	<div id="fh5co-page">
	<div id="fh5co-header">
{% include 'navbar.html' %}


		
	</div>
	<!-- end:fh5co-header -->
	<div class="fh5co-parallax" style="background-image: url(/static/images/beach.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
					<div class="fh5co-intro fh5co-table-cell">
						<h1 class="text-center">About Us</h1>
						<p></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-contact-section">
		<div class="row">
			
			<div class="col-md-6">
				<div class="col-md-12">
					<h3>About Us</h3>
					<p>The waterfront resort has 100 rooms and 20 suits. 30 of the rooms and 10 suits are faced to Lake Simcore and they have little bit higher prices then regular rooms or suits. A regular room has either 2 queen size beds or 1 king size bed.
The resort has a restaurant on the main floor. It has a bar attached to it. It is operational for dine-in from 0600hrs till 2200hrs and after 2200hrs only bar is open. The maximum capacity of the people is 150. Some packages include the meal plan which can be used to order food and drinks. They offer customers to reserve their tables as well for small gatherings or meetings. It costs extra to reserve table(s).
There is a cafeteria on the main floor as well. It is accessible for all the customers and staff. They have 24hrs services. Any time guests and staff can buy their food and dine-in. The capacity is also 150 there. They do not offer table reservation services there. It has only first come first serve basis. They offer buffet service there and it can also be included in some of the packages. 
<p>The resort also has their own private beach, and it has two sand volleyball courts. Some of the packages include these services and the can be used only certain timings. They offer to customers to reserve volleyball courts for not more than 2 hours and the fees is excluded from the packages. Visitors can also access these facilities, but they must pay more than their customers in order to use these facilities. 
The resort has their own swimming pool, and it is operational from 0600hrs till 1800hrs. Almost all the packages offer this service for free. Few customers must pay for it every time they use if their packages do not include it. It cannot be used by any visitors. Only customers can access it with their room keys. It is located on the first floor as well.</p>
<p>Fitness center is also a part of this resort. It is on the first floor across from swimming pool. The change room for swimming pool and fitness centre is the same. It is also included in almost every package for free but customers who don't have it included in their package then they have to get a daily pass in order to use it. It can be used anytime in 24hrs and It can be accessible with the room keys. 
Near future, resort owner will start their memberships too in order to attract more customer.</p>
</p>
					
				</div>
				
			</div>
		</div>
	</div>
	

	

{% endblock %}